<br><button (click)="goBack()">go back</button>
<div *ngIf="hero">
  <h2>{{hero.name|uppercase}}</h2>
  <div>ID:<input [(ngModel)]="hero.id"></div>
  <div>Name:<input [(ngModel)]="hero.name"></div>
</div>