<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <a routerLink="/heroes">Heroes</a>
  <router-outlet></router-outlet>
  <app-messages></app-messages>