<div *ngIf="messageService.message.length">
  <h2>Messages</h2>
  <button class="clear" (click)="messageService.clear()">clear</button>
  <div style="margin-top:10px" *ngFor='let message of messageService.message'>{{message}}</div>
</div>