<h2>Heroes</h2>
<div style="display:flex;justify-content: center; color:grey">
  <ul>
    <li [class.items]="hero!==selectedHero" *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero===selectedHero">
      <a routerLink="/editdetail/{{hero.id}}"><span>{{hero.id}}</span><span>{{hero.name}}</span></a>
    </li>
  </ul>
</div>