@mixin itemsStyle() {
  background: grey;
  color: white;
  margin-top: 10px;
  width: 100px;
  cursor: pointer;
}
.items {
  @include itemsStyle();
}

.selected {
  @include itemsStyle();
  font-weight: bold;
  color: black;
}
